@import 'tailwindcss';
@import './prism.css' layer(components);

@plugin '@tailwindcss/typography';
@config '../../typography.ts';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
}

.custom-dotted-border {
  position: relative;
  padding-bottom: 1rem; /* more space below content */
  padding-top: 0.5rem; 
}

.custom-dotted-border::after {
  content: '';
  position: absolute;
  bottom: 0.75rem; /* moved up slightly from the very bottom */
  left: 0;
  width: 100%;
  height: 6px; /* thinner border */
  background-image: radial-gradient(circle 2.5px, #4c1d95 100%, transparent 0); /* smaller dot, dark purple (#4c1d95) */
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 20px 8px; /* adjusted size for spacing and height */
  pointer-events: none;
}
